.salary-section {
  margin-bottom: 1em;
}

.salary-section .add-button {
  margin-top: 0.5em;
}

.sub-total-amount {
  font-weight: 200;
}

.label-sub-total-amount {
  font-weight: bold;
  font-size: 14pt;
}

.label-total-amount {
  font-weight: bold;
  font-size: 16pt;
}

.input-title-text {
  width: 20em;
}

.input-text {
  width: 10em;
}

.input-amount {
  width: 5em;
}

.display-amount {
  background-color: lightyellow;
  width: 5em;
  border: 0px solid #ccc;
  font-size: 12pt;
}

.display-sub-total-amount {
  background-color: lightyellow;
  width: 6em;
  border: 0px solid #ccc;
  font-weight: bold;
  font-size: 14pt;
}

.display-total-amount {
  background-color: lightyellow;
  width: 6em;
  border: 0px solid #ccc;
  font-weight: bold;
  font-size: 16pt;
}

.annotation-link {
  color: blue;
  font-size: 9pt;
}
