table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  /* border-left: 5px double #000; */
}

th, td {
  border: 1px solid #DDD;
  padding: 8px;
  /* resize: horizontal; */
  overflow: hidden;
}

.amount {
  text-align: right;
  font-size: 10pt;
}

.emphasis-amount {
  text-align: right;
  font-weight: bold;
  font-size: 11pt;
}

/* ドラッグ可能な行のスタイル */
.draggable {
  cursor: move;
}

/* ドラッグ中の行のスタイル */
.dragging {
  opacity: 0.5;
}

/* 可能な場所のスタイル */
.drag-over {
  border: 2px dashed #000;
}

.accordion {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition:   0.4s;
}

.accordion:hover {
  background-color: #ddd;
}

.accordion-panel {
  padding: 0 18px;
  display: none;
  font-size: 8pt;
  overflow: hidden;
  background-color: #f1f1f1;
}

.accordion-detail {
  font-size: 8pt;
}

/* モーダルのスタイル */
.modal {
  display: none; /* デフォルトは非表示 */
  position: fixed; /* 固定位置 */
  z-index: 1; /* 最前面に表示 */
  left: 0;
  top: 0;
  width: 100%; /* 幅100% */
  height: 100%; /* 高さ100% */
  overflow: auto; /* スクロール可能 */
  background-color: rgb(0,0,0); /* 背景色 */
  background-color: rgba(0,0,0,0.4); /* 背景色の透明度 */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 上下のマージンを少し減らす */
  padding: 20px; /* パディングを適度に設定 */
  border: 1px solid #888;
  width: 80%; /* 幅を80%に変更 */
  max-width: 600px; /* 最大幅を設定 */
}

.close {
  color: #aaa;
  float: right; /* 右寄せ */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tooltip {
  display: none; /* デフォルトは非表示 */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
}
